[submodule "src/dialog-eval"]
	path = src/dialog-eval
	url = https://github.com/ricsinaruto/dialog-eval.git
[submodule "dialog-eval"]
	path = dialog-eval
	url = https://github.com/ricsinaruto/dialog-eval.git
